@import url("figure.css");
#appointment {
  width: 100%;
  height: 80vh;
  min-height: 60rem;
  min-height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  background-color: var(--gray);
}

#appointment form {
  background-color: var(--light-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 1rem;
  backdrop-filter: blur(2rem);
}

#appointment form > *:not(button) {
  width: 50%;
  min-width: 20rem;
  height: 100%;
  margin-bottom: 1rem;
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

form .personal-info {
  width: 50%;
  height: 20%;
  display: flex;
  background-color: var(--gray);
  row-gap: 0.5rem;
}

form .personal-info * {
  min-width: 20rem;
}

form .app-detail {
  row-gap: 0.5rem;
}

form .app-detail * {
  min-width: 20rem;
}

form .app-date-time {
  row-gap: 0.5rem;
}

form .app-date-time input {
  width: 100%;
}

form .app-date-time .app-time {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form .app-date-time .app-time select {
  width: 45%;
}

form > button {
  padding: 0.5rem;
  background-color: var(--white);
}
